.app {
  text-align: center;
}

.input-container {
  margin: 20px;
}

.input-container input {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}

.tasks-container {
  display: flex;
  justify-content: space-around;
}

.column {
  border: 1px solid #ddd;
  padding: 20px;
  width: 30%;
}

.task {
  border: 1px solid #f50909;
  margin: 10px 0;
  padding: 10px;
}
